.hero {
    position: relative;
    &__back {
        width: 100%;
        object-fit: contain;
        position: absolute;
        z-index: -2;
        
     @media screen and (max-width:765px){
               margin-top: 80px;
            } 
        
       &__img{
        opacity: 0.5;
        @media screen and (max-width:765px){
            opacity: 0.8;
        }
       }
    }
    
    &__content {
        padding: 15% 0 44.5% 0;
    }

    &__box {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 500px;
        @media screen and (max-width:765px){
            margin-top: 361px;
        }
    }

    &__header {
        @include font(700, 80px, $black, 130%);
        text-align: center;
        margin-bottom: 15px;
        position: relative;
        @media screen and ( max-width:765px) {
            @include font(600, 60px, $black, 130%);  
            
        }
        @media screen and ( max-width:556px) {
            @include font(600, 50px, $black, 130%);  
            
        }
    }

    &__text {
        @include font(400, 24px, $black, 160%);
        opacity: 0.8;
        width: 47.5%;
        text-align: center;
    }
}