.materials{
    padding: 120px 0;
    &__content {
        display: flex;
        
        margin: 0 auto;
        max-width: 1440px;
        padding-left: 60px;
        @media screen and (width<556px){
          flex-direction: column;
        }
    }
    &__left {
        max-width: 40%;
        @media screen and (width<1240px){
          max-width: 30%; 
        }
        @media screen and (width<998px){
          max-width: 50%; 
        }
        @media screen and (width<556px){
          max-width: 98%; 
        }
    }
    &__right {
        padding-left: 60px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 1010px;
    }
    &__img-1 {
     padding-bottom: 45px;
     padding-right: 45px;
     border-radius: 14.25px;
     object-fit: contain;
     position: relative;
     }
    
    &__img-2 {
        padding-right: 45px;
        border-radius: 14.25px;
        object-fit: contain;
           }
        
    
     &__img-3 {
        margin-top: 140px;
        object-fit: contain;
         border-radius: 20px;
         
         @media screen and (max-width:998px){
          display: none; 
        }
        }
  
   
}