.test {
    &__content {
        padding: 120px 0;
        &_top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 590px;
        }
    }

    &__subHeader {
        text-align: center;
        @include font(600, 18px, $orange);
        text-transform: uppercase;
        letter-spacing: 3.15px;
        margin-bottom: 20px;
    }

    &__header {
        text-transform: capitalize;
        @include font(700, 42px, $black, 130%);
        margin-bottom: 60px;
        text-align: center;
    }

    &__swiper {
        width: 100%;
        overflow: hidden;
        position: relative;
        padding: 0 20px;
    }
 
    &__slide {
        border-radius: 18px;
        background-repeat: no-repeat;
        background-size: 100%;
        flex-basis: 31.2%;
        @media screen and (width<998px){
            flex-basis: 48.2%;
          }
          @media screen and (width<556px){
            flex-basis: 100%;
          }
        min-height: 476px;
        display: flex;
        align-items: flex-end;
        padding: 18px;
        box-shadow: 0px 10px 15px -5px $grey;
        
        &_1 {
            background-image: url(../images/pigam-16.jpg);
        }
        &_2 {
            background-image: url(../images/pigam-24.jpg);
        }
        &_3 {
            background-image: url(../images/pigam-3.jpg);
        }
            &_4 {
                background-image: url(../images/pigam-5.jpg);
            }
            &_5{
                background-image: url(../images/pigam-6.jpg);
            }
            &_6 {
                background-image: url(../images/pigam-7.jpg);
            }
            &_7 {
                background-image: url(../images/pigam-8.jpg);
            }
               
                &_8 {
                    background-image: url(../images/pigam-9.jpg);
                }
                &_9 {
                    background-image: url(../images/pigam-10.jpg);
                }
                &_10 {
                    background-image: url(../images/pigam-11.jpg);
                }
                    &_11 {
                        background-image: url(../images/pigam-13.jpg);
                    }
                    &_12 {
                        background-image: url(../images/pigam-14.jpg);
                    }
                    &_13 {
                        background-image: url(../images/pigam-15.jpg);
                    }
                        &_14 {
                            background-image: url(../images/pigam-17.jpg);
                        }
                        &_15 {
                            background-image: url(../images/pigam-18.jpg);
                        }
                        &_16 {
                            background-image: url(../images/pigam-19.jpg);
                        }
                            &_17 {
                                background-image: url(../images/pigam-21.jpg);
                            }
                            &_18 {
                                background-image: url(../images/pigam-22.jpg);
                            }
                            &_19 {
                                background-image: url(../images/pigam-23.jpg);
                            }
                                &_20 {
                                    background-image: url(../images/pigam-25.jpg);
                                }
                                &_21 {
                                    background-image: url(../images/pigam-31.jpg);
                                }
                                &_22 {
                                    background-image: url(../images/pigam-32.jpg);
                                }
                               
                                    
            background-repeat: no-repeat;
            background-size: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            min-height: 240px;
            padding: 8px 40px 17px 40px;
            border-bottom-right-radius: 18px;
            border-bottom-left-radius: 18px;
            img {
                width: 250px;
                height: 400px;
                display: none;
                margin-bottom: 13px;
                box-shadow: 0px 5px 15px lightgray;
                border-radius: 50%
            }

           
        }

   

    &__nameHeader {
        @include font(700, 18px);
        text-transform: capitalize;
        margin-bottom: 6px;
    }
    &__desc {
        @include font(400, 12px);
        opacity: 0.6;
        margin-bottom: 22px;
    }
    &__comment {
        @include font(400, 14px);
        opacity: 0.8;
        text-align: center;
        max-height: 100px;
        overflow: auto;
        background-color: &white;
        padding: 10px;
    }

    &__stars {
        margin-bottom: 0;
    }

  
    &__arrow {
        top: 36%;
    }
}