@font-face {
  font-family: "gilroy";
  src: url("../resources/gilroy-bold-webfont.woff2") format("woff2"), url("../resources/gilroy-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("../resources/gilroy-medium-webfont.woff2") format("woff2"), url("../resources/gilroy-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("../resources/gilroy-regular-webfont.woff2") format("woff2"), url("../resources/gilroy-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("../resources/gilroy-semibold-webfont.woff2") format("woff2"), url("../resources/gilroy-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "gilroy", sans-serif;
}

body, h1, h2, h2, h4, h5, p, ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 556px) {
  .container .container {
    max-width: 456px;
  }
}
@media screen and (max-width: 556px) and (max-width: 410px) {
  .container .container {
    max-width: 300px;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header__content {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1240px) {
  .header__content {
    padding: 40px 90px;
  }
}
.header__logo {
  width: 150px;
  height: 70px;
}
@media screen and (max-width: 765px) {
  .header__logo {
    margin-left: 40%;
  }
}
.header__dropMenu {
  position: relative;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 765px) {
  .header__nav {
    opacity: 0;
  }
}
.header__nav span {
  margin-right: 65px;
  font-size: 18px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  color: #fff;
}
.header__nav a {
  font-size: 18px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  color: #fff;
}
.header__nav ul {
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.3s linear;
}
.header__nav ul li {
  padding: 5px 10px;
  font-size: 18px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  color: #fff;
}
.header__menu {
  position: relative;
}
.header__menu::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  transition: all 0.3s linear;
  right: -20px;
  top: 5px;
}
.header__menu:hover::after {
  transform: rotate(225deg);
  top: 10px;
}
.header__dropMenu ul {
  z-index: -1;
  opacity: 0;
}
.header__dropMenu:hover ul {
  z-index: 1;
  opacity: 1;
}
@media screen and (max-width: 765px) {
  .header__link {
    opacity: 0;
  }
}
.header__link:not(:last-child) {
  margin-right: 65px;
}
.header__bag {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  position: relative;
}
.header__bag svg {
  width: 100%;
  height: 100%;
}
.header__bag span {
  position: absolute;
  top: 4px;
  right: 4px;
  display: inline-block;
  width: 15px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(197, 25, 91);
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  color: #fff;
}

.hero {
  position: relative;
}
.hero__back {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  z-index: -2;
}
@media screen and (max-width: 765px) {
  .hero__back {
    margin-top: 80px;
  }
}
.hero__back__img {
  opacity: 0.5;
}
@media screen and (max-width: 765px) {
  .hero__back__img {
    opacity: 0.8;
  }
}
.hero__content {
  padding: 15% 0 44.5% 0;
}
.hero__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 500px;
}
@media screen and (max-width: 765px) {
  .hero__box {
    margin-top: 361px;
  }
}
.hero__header {
  font-size: 80px;
  font-size: 80px;
  font-weight: 700;
  line-height: 130%;
  color: #1e1e1e;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
}
@media screen and (max-width: 765px) {
  .hero__header {
    font-size: 60px;
    font-size: 60px;
    font-weight: 600;
    line-height: 130%;
    color: #1e1e1e;
  }
}
@media screen and (max-width: 556px) {
  .hero__header {
    font-size: 50px;
    font-size: 50px;
    font-weight: 600;
    line-height: 130%;
    color: #1e1e1e;
  }
}
.hero__text {
  font-size: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  color: #1e1e1e;
  opacity: 0.8;
  width: 47.5%;
  text-align: center;
}

.why__content {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.why__header {
  font-size: 42px;
  font-size: 42px;
  font-weight: 600;
  line-height: 130%;
  color: #1e1e1e;
  flex-basis: 15%;
  align-self: end;
}
@media screen and (width < 1240px) {
  .why__header {
    font-size: 38px;
  }
}
@media screen and (width < 998px) {
  .why__header {
    display: none;
  }
}
.why__list {
  display: flex;
  justify-content: space-between;
  flex-basis: 75%;
}
@media screen and (max-width: 998px) {
  .why__list {
    flex-basis: 90%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 998px) {
  .why__list {
    flex-direction: column;
    margin-left: 5%;
  }
}
.why__item {
  flex-basis: 31%;
}
.why__supHeader {
  font-size: 34px;
  font-size: 34px;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 20px;
}
@media screen and (width < 1240px) {
  .why__supHeader {
    font-size: 38px;
  }
}
@media screen and (width < 556px) {
  .why__supHeader {
    color: rgb(197, 25, 91);
  }
}
.why__text {
  font-size: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 185%;
  color: #1e1e1e;
  margin-bottom: 40px;
}
@media screen and (width < 1240px) {
  .why__text {
    font-size: 30px;
  }
}
.why__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: rgb(197, 25, 91);
  color: rgb(197, 25, 91);
  width: 45%;
}
.why__link svg {
  width: 48px;
  height: 24px;
  transition: all 0.4s ease-in;
  transform: translateX(5px);
}
@media screen and (width < 1240px) {
  .why__link {
    font-size: 26px;
  }
}
@media screen and (width < 998px) {
  .why__link {
    font-size: 22px;
    font-size: 22px;
    font-weight: 600;
    color: #1e1e1e;
  }
}
.why__link:hover svg {
  transform: translateX(25px);
}

.materials {
  padding: 120px 0;
}
.materials__content {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 60px;
}
@media screen and (width < 556px) {
  .materials__content {
    flex-direction: column;
  }
}
.materials__left {
  max-width: 40%;
}
@media screen and (width < 1240px) {
  .materials__left {
    max-width: 30%;
  }
}
@media screen and (width < 998px) {
  .materials__left {
    max-width: 50%;
  }
}
@media screen and (width < 556px) {
  .materials__left {
    max-width: 98%;
  }
}
.materials__right {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1010px;
}
.materials__img-1 {
  padding-bottom: 45px;
  padding-right: 45px;
  border-radius: 14.25px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
}
.materials__img-2 {
  padding-right: 45px;
  border-radius: 14.25px;
  -o-object-fit: contain;
     object-fit: contain;
}
.materials__img-3 {
  margin-top: 140px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
}
@media screen and (max-width: 998px) {
  .materials__img-3 {
    display: none;
  }
}

.product {
  background-color: rgb(197, 25, 91);
  padding: 150px 0;
}
.product__swiper {
  width: 100%;
  height: 492px;
  padding: 0 30px;
}
.product__slide {
  position: relative;
  background-color: #FAFAFA;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 0 21px 35px 21px;
}
.product__slide img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-height: 270px;
  margin-bottom: 40px;
}
.product__span {
  display: inline-block;
  font-size: 17px;
  font-size: 17px;
  font-weight: 400;
  color: #7c7c7c;
  color: #7c7c7c;
  margin-bottom: 7px;
}
.product__supHeader {
  font-size: 21px;
  font-size: 21px;
  font-weight: 600;
  color: #0D1B39;
  color: #0D1B39;
  margin: 0;
  margin-bottom: 7px;
}
.product__stars {
  display: flex;
  margin-bottom: 47px;
}
.product__stars svg {
  width: 18px;
  height: 18px;
}
.product__price {
  font-size: 21px;
  font-size: 21px;
  font-weight: 600;
  color: #0D1B39;
  color: #0D1B39;
}
.product__add {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #0D1B39;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  right: 21px;
  bottom: 27px;
}
.product__add svg {
  width: 24px;
  height: 24px;
}
.product__arrow_next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  right: 0px;
}
.product__arrow_next::after {
  content: "";
  background-image: url(./images/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 26px;
  transform: rotate(180deg);
}
.product__arrow_prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  left: 0px;
}
.product__arrow_prev::after {
  content: "";
  background-image: url(./images/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 26px;
}

.exp {
  padding: 120px 0;
}
.exp__content {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 40px;
}
@media screen and (width < 556px) {
  .exp__content {
    flex-direction: column;
    position: relative;
  }
}
.exp__left {
  padding: 56px 0 3px 0;
  position: relative;
  margin-left: 120px;
}
@media screen and (width < 765px) {
  .exp__left {
    margin-left: 50px;
  }
}
@media screen and (width < 556px) {
  .exp__left {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 260px;
    left: 150px;
  }
}
@media screen and (width < 400px) {
  .exp__left {
    display: none;
  }
}
.exp__img {
  border-radius: 50%;
  border: 2px solid rgb(197, 25, 91);
  width: 100%;
  height: 100%;
}
@media screen and (width < 765px) {
  .exp__img {
    height: 90%;
  }
}
.exp__subHeader {
  text-transform: uppercase;
  font-size: 18px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(197, 25, 91);
  color: rgb(197, 25, 91);
  letter-spacing: 3.15px;
  margin-bottom: 20px;
}
.exp__header {
  font-size: 42px;
  font-size: 42px;
  font-weight: 700;
  line-height: 130%;
  color: #1e1e1e;
  margin-bottom: 20px;
}
.exp__text {
  font-size: 18px;
  font-size: 18px;
  font-weight: 400;
  line-height: 185%;
  color: #1e1e1e;
  opacity: 0.8;
  margin-bottom: 24px;
}
.exp__right {
  padding-top: 70px;
  margin-left: 10%;
}
@media screen and (width < 765px) {
  .exp__right {
    margin-left: 3%;
  }
}
.exp select {
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 100px;
  color: rgb(197, 25, 91);
}

.test__content {
  padding: 120px 0;
}
.test__content_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 590px;
}
.test__subHeader {
  text-align: center;
  font-size: 18px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(197, 25, 91);
  color: rgb(197, 25, 91);
  text-transform: uppercase;
  letter-spacing: 3.15px;
  margin-bottom: 20px;
}
.test__header {
  text-transform: capitalize;
  font-size: 42px;
  font-size: 42px;
  font-weight: 700;
  line-height: 130%;
  color: #1e1e1e;
  margin-bottom: 60px;
  text-align: center;
}
.test__swiper {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 20px;
}
.test__slide {
  border-radius: 18px;
  background-repeat: no-repeat;
  background-size: 100%;
  flex-basis: 31.2%;
  min-height: 476px;
  display: flex;
  align-items: flex-end;
  padding: 18px;
  box-shadow: 0px 10px 15px -5px #7c7c7c;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 240px;
  padding: 8px 40px 17px 40px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}
@media screen and (width < 998px) {
  .test__slide {
    flex-basis: 48.2%;
  }
}
@media screen and (width < 556px) {
  .test__slide {
    flex-basis: 100%;
  }
}
@media screen and (width < 310px) {
  .test__slide {
    flex-basis: 100%;
  }
}
.test__slide_1 {
  background-image: url(../images/pigam-16.jpg);
}
.test__slide_2 {
  background-image: url(../images/pigam-24.jpg);
}
.test__slide_3 {
  background-image: url(../images/pigam-3.jpg);
}
.test__slide_4 {
  background-image: url(../images/pigam-5.jpg);
}
.test__slide_5 {
  background-image: url(../images/pigam-6.jpg);
}
.test__slide_6 {
  background-image: url(../images/pigam-7.jpg);
}
.test__slide_7 {
  background-image: url(../images/pigam-8.jpg);
}
.test__slide_8 {
  background-image: url(../images/pigam-9.jpg);
}
.test__slide_9 {
  background-image: url(../images/pigam-10.jpg);
}
.test__slide_10 {
  background-image: url(../images/pigam-11.jpg);
}
.test__slide_11 {
  background-image: url(../images/pigam-13.jpg);
}
.test__slide_12 {
  background-image: url(../images/pigam-14.jpg);
}
.test__slide_13 {
  background-image: url(../images/pigam-15.jpg);
}
.test__slide_14 {
  background-image: url(../images/pigam-17.jpg);
}
.test__slide_15 {
  background-image: url(../images/pigam-18.jpg);
}
.test__slide_16 {
  background-image: url(../images/pigam-19.jpg);
}
.test__slide_17 {
  background-image: url(../images/pigam-21.jpg);
}
.test__slide_18 {
  background-image: url(../images/pigam-22.jpg);
}
.test__slide_19 {
  background-image: url(../images/pigam-23.jpg);
}
.test__slide_20 {
  background-image: url(../images/pigam-25.jpg);
}
.test__slide_21 {
  background-image: url(../images/pigam-31.jpg);
}
.test__slide_22 {
  background-image: url(../images/pigam-32.jpg);
}
.test__slide img {
  width: 250px;
  height: 400px;
  display: none;
  margin-bottom: 13px;
  box-shadow: 0px 5px 15px lightgray;
  border-radius: 50%;
}
.test__nameHeader {
  font-size: 18px;
  font-size: 18px;
  font-weight: 700;
  color: #1e1e1e;
  text-transform: capitalize;
  margin-bottom: 6px;
}
.test__desc {
  font-size: 12px;
  font-size: 12px;
  font-weight: 400;
  color: #1e1e1e;
  opacity: 0.6;
  margin-bottom: 22px;
}
.test__comment {
  font-size: 14px;
  font-weight: 400;
  color: #1e1e1e;
  opacity: 0.8;
  text-align: center;
  max-height: 100px;
  overflow: auto;
  background-color: .test__comment white;
  padding: 10px;
}
.test__stars {
  margin-bottom: 0;
}
.test__arrow {
  top: 36%;
}

.footer {
  background-color: #F7F7F7;
  margin: 120px 0;
}
.footer__content {
  display: flex;
  padding: 120px 105px 60px 105px;
}
@media screen and (max-width: 765px) {
  .footer__content {
    flex-direction: column;
    padding: 0;
  }
}
.footer__left {
  margin-right: 150px;
}
@media screen and (max-width: 556px) {
  .footer__left {
    margin: 0;
  }
}
.footer__header {
  font-size: 28px;
  font-size: 28px;
  font-weight: 600;
  color: #1e1e1e;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 0.28px;
  text-transform: capitalize;
}
.footer__text {
  font-size: 15px;
  font-size: 15px;
  font-weight: 400;
  color: #1e1e1e 160%;
  color: #1e1e1e 160%;
  opacity: 0.8;
  margin-right: 150px;
}
@media screen and (max-width: 556px) {
  .footer__text {
    font-size: 21px;
    font-size: 21px;
    font-weight: 400;
    color: #1e1e1e 160%;
    color: #1e1e1e 160%;
  }
}
.footer__services {
  max-height: 135px;
}
.footer__service {
  font-size: 17px;
  font-size: 17px;
  font-weight: 400;
  color: rgb(197, 25, 91);
  color: rgb(197, 25, 91);
  letter-spacing: -0.232px;
  margin-bottom: 20px;
}
.footer__right {
  width: 60%;
  margin-bottom: 120px;
}
.footer__right__map {
  width: 400px;
  height: 400px;
}/*# sourceMappingURL=style.css.map */